@charset "UTF-8";

body{
	background-color: white;
	margin: 0;
}
li{
	padding: 16px;
	padding-left: 32px;
	display: inline-block;
}
a:hover{
	color: silver;
}

/* Classes */
.white{
	color: white;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
.black{
	color: #333333;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
.blackSubText{
	color: #333333;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	padding-left: 16px;
}
.sticky { /*this is added to #banner when scrolling*/
  top: 0;
  width: 100%;
  position: fixed;
}
.centered{
	padding-left: 33%; 
}
.logo{
	width: 32px;
	height: 32px;
	padding-right: 12px;
}

/* IDs */
#banner{
	list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: #333333;
    text-align: center;
}
#banner li{
	float: left;
}
#greeting{
	color: white;
	font-size: 64px;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	display: block;
	text-decoration: none;
	padding-top: 25%;
	padding-left: 50%;
}
#description{
	color: white;
	font-size: 32px;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	display: inline-block;
	text-decoration: none;
	padding-left: 50%;
}
#Title{
	color: white;
	font-size: 64px;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	display: block;
	text-decoration: none;
	padding-top: 35%;
	padding-left: 10%;
}
#interests{
	list-style-type: none;
	color: white;
	font-size: 32px;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	display: block;
	text-decoration: none;
	padding-left: 10%;
}
#interests li{
	float: left;
}
#experience{
	color: #333333;
	font-size: 64px;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 32px;
}
#parallax1{ 
    /* The image used */
    background-image: url("Solitude.jpeg");

    /* Set a specific height */
    height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax2{ 
    background-image: url("Marvel.jpeg");
    height: 1000px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#foreground{
	height: 500px;
	color: white;
}